<!-- 1) ngIf  -->
<div *ngIf="courses.length > 0 ; then list else nocourses ">
</div>
<!-- nocourses est une variable template -->
<ng-template #list>List des courses</ng-template>

<ng-template #nocourses> No courses </ng-template>
<!-- // exercise  -->

<h1>User info </h1>
<div class="div">
    <label for="" class="form-control">Nom:Yassine Mabrouk</label>
    <label for="" class="form-control">Classe:GLSID</label>
    <label for="" class="form-control">Specialite : Software ingeener student </label>
    <button (click)="detail($event)" class="btn btn-primary">Show Detail</button>
    <div class="" *ngIf="detailInfo">
        <p class="lead">Lorem ipsum, dolor sit amet consectetur adiexcepturi quos laudantium culpa similique. Quisquam?</p>
        <h3>Courses </h3>
        <ul class="list-group" *ngIf="courses.length > 0">
            <li class="list-group-item" *ngFor="let i of courses ">{{i}}</li>
        </ul>

    </div>
</div>