<div class="container">
    <div class="row">
        <h1 class="text-center"> Services</h1>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h1 class="text-center">Gestion des Postes</h1>
                </div>
                <div class="panel-body">
                    <p class="lead"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio tempora laborum fugiat pario est a. Magnam? Quam ullam laudantium nihil. Eum voluptates explicabo voluptate molestiae qui nobis laborum consequatur soluta porro labore
                        deleniti ab accuus um alias omnis?</p>
                    <button type="button" class="btn btn-primary " (click)="goTocreatePoste()">Détail</button>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h1 class="text-center">Gestion des Users</h1>
                </div>
                <div class="panel-body">
                    <p class="lead"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio tempora laborum fugiat pario est a. Magnam? Quam ullam laudantium nihil. Eum voluptates explicabo voluptate molestiae qui nobis laborum consequatur soluta porro labore
                        deleniti ab accuus um alias omnis?</p>
                    <button type="button" class="btn btn-primary " (click)="goToUsers()">Détail</button>
                </div>
            </div>
        </div>
    </div>
</div>