<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6 col-md-offset-3">
            <div class="well well-sm">
                <div class="row">
                    <div *ngIf="user">
                        <div class="col-sm-6 col-md-4">
                            <img src="https://st2.depositphotos.com/1104517/11967/v/950/depositphotos_119675554-stock-illustration-male-avatar-profile-picture-vector.jpg" alt="" class="img-rounded img-responsive" />
                        </div>
                        <div class="col-sm-6 col-md-8">
                            <h4>
                                {{user.name}}</h4>
                            <small><cite title="San Francisco, USA">San Francisco, USA <i class="glyphicon glyphicon-map-marker">
                        </i></cite></small>
                            <p>
                                <i class="glyphicon glyphicon-envelope"></i>{{user.email}}
                                <br />
                                <i class="glyphicon glyphicon-globe"></i><a href="http://www.jquery2dotnet.com">{{user.website}}</a>
                                <br />
                                <i class="glyphicon glyphicon-gift"></i>{{user.phone}}</p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>